/* .App {
  text-align: center;
  background-color: #f8f9fa;
  min-height: 100vh;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #61dafb;
} */
